@import "normalize.css";

@font-face {
  font-family: "Canterbury";
  src: url("./fonts/Canterbury.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: hsla(222, 29%, 38%, 0.9);
  --main-light-blue: rgba(83, 158, 208, 1);
  --main-light-green: rgba(101, 231, 101, 1);
  --main-gray: #303841;
  --main-light-gray: hsla(238, 8%, 62%, 1);
  --main-text-shadow: 0.5rem 0.5rem 0.25rem rgba(0, 0, 0, 0.75);
  --main-box-shadow: 2.5rem 2.5rem 1.25rem 0rem rgba(0, 0, 0, 0.35);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
  background-image: url("./images/Blue_Sea_Texture-713.jpg");
  background-size: cover;
}

h1,
h2 {
  font-family: "Canterbury";
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 10rem;
  margin: 0;
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
}

h2 {
  font-size: 4.2rem;
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
}

#welcome-section {
  margin-bottom: 3rem;
}

.title {
  display: flex;
  text-align: center;
  font-family: "Canterbury";
  font-size: 4.5rem;
  font-weight: bold;
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
}

.message {
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
  font-size: 2.5rem;
}

.battlefields-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#player-battlefield,
#computer-battlefield,
#player-place-ships {
  display: grid;
  margin: 2vmin;
  grid-template-rows: repeat(var(--grid-rows), 4.3vmin);
  grid-template-columns: repeat(var(--grid-cols), 4.3vmin);
  border: 2px solid var(--main-gray);
}

#player-battlefield,
#computer-battlefield {
  box-shadow: var(--main-box-shadow);
}

#computer-battlefield {
  cursor: crosshair;
}

#player-place-ships {
  margin: 2vmin;
}

#player-place-ships [data-valid="true"] {
  cursor: cell;
}

#player-place-ships [data-valid="false"] {
  cursor: not-allowed;
}

#player-place-ships [data-valid="true"]:hover {
  background-color: var(--main-light-green);
}

#player-place-ships [data-ship-id="ship"] {
  background: var(--main-light-gray);
  cursor: not-allowed;
}

#player-place-ships [data-ship-id="ship"]:hover {
  background: var(--main-light-gray);
  cursor: not-allowed;
}

#player-place-ships [data-ship-id="ship"][data-ship-direction="horizontal"] {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

#player-place-ships [data-ship-id="ship"][data-ship-direction="vertical"] {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

#player-place-ships
  [data-ship-id="ship"][data-ship-direction="vertical"][data-ship-start="true"] {
  border-top: 2px solid white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

#player-place-ships
  [data-ship-id="ship"][data-ship-direction="vertical"][data-ship-end="true"] {
  border-bottom: 2px solid white;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

#player-place-ships
  [data-ship-id="ship"][data-ship-direction="horizontal"][data-ship-start="true"] {
  border-left: 2px solid white;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

#player-place-ships
  [data-ship-id="ship"][data-ship-direction="horizontal"][data-ship-end="true"] {
  border-right: 2px solid white;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.grid-item {
  margin: 0;
  padding: 0;
  border: 0.5px solid gray;
  text-align: center;
  background: var(--main-white);
}

#player-battlefield [data-ship-id="ship"] {
  background: var(--main-light-gray);
}

#player-battlefield [data-ship-id="ship"][data-is-hit="hit"] {
  background: var(--main-red);
}

#player-battlefield [data-ship-id="ship"][data-is-hit="hit"][data-sunk="true"] {
  background: var(--main-gray);
}

[data-is-hit="hit"] {
  background: transparent;
}

[data-ship-id="ship"][data-is-hit="hit"] {
  background: var(--main-red);
}

[data-ship-id="ship"][data-is-hit="hit"][data-sunk="true"] {
  background: var(--main-gray);
}

#footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -50vw;
  margin-bottom: 2rem;
}

#footer a {
  text-decoration: none;
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
}

#footer a:hover {
  text-decoration: underline;
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
}

#icon {
  transition: transform 0.3s ease-in-out;
}

#icon:hover {
  transform: rotate(360deg) scale(1.2);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 0.2rem solid var(--main-white);
  border-radius: 1rem;
  z-index: 10;
  background-color: var(--main-blue);
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.15rem solid var(--main-black);
}

.modal-buttons {
  display: flex;
  justify-content: center;
}

.modal-body {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

#endGameModal .title {
  font-size: 7rem;
}

.endMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
}

#winner {
  color: var(--main-white);
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

#reload {
  margin-bottom: 3rem;
}

.btn {
  background-color: hsla(210, 15%, 20%, 1);
  color: #f0f0f0;
  cursor: pointer;
  font-size: inherit;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  text-decoration: none;
  border-radius: 0.2em;
}

.btn:hover,
.btn:focus {
  background-color: hsla(210, 15%, 30%, 1);
}

#mute {
  border: none;
  color: var(--main-white);
  text-shadow: var(--main-text-shadow);
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
  font-size: 3rem;
}

#mute:active {
  transform: scale(0.8);
}

[data-sunk="true"][data-ship-direction="horizontal"] {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

[data-sunk="true"][data-ship-direction="vertical"] {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

[data-sunk="true"][data-ship-direction="vertical"][data-ship-start="true"] {
  border-top: 2px solid white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

[data-sunk="true"][data-ship-direction="vertical"][data-ship-end="true"] {
  border-bottom: 2px solid white;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

[data-sunk="true"][data-ship-direction="horizontal"][data-ship-start="true"] {
  border-left: 2px solid white;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

[data-sunk="true"][data-ship-direction="horizontal"][data-ship-end="true"] {
  border-right: 2px solid white;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

#player-battlefield [data-ship-id="ship"][data-ship-direction="horizontal"] {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

#player-battlefield [data-ship-id="ship"][data-ship-direction="vertical"] {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

#player-battlefield
  [data-ship-id="ship"][data-ship-direction="vertical"][data-ship-start="true"] {
  border-top: 2px solid white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

#player-battlefield
  [data-ship-id="ship"][data-ship-direction="vertical"][data-ship-end="true"] {
  border-bottom: 2px solid white;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

#player-battlefield
  [data-ship-id="ship"][data-ship-direction="horizontal"][data-ship-start="true"] {
  border-left: 2px solid white;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

#player-battlefield
  [data-ship-id="ship"][data-ship-direction="horizontal"][data-ship-end="true"] {
  border-right: 2px solid white;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
